<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3>All chats</h3>
    <form action="/chats/new" method="get">
        <button>New chat</button>
    </form>
    <% for (let chat of chats) { %>
        <div class="chat">
            <p>from : <%= chat.from%>
            </p>
            <div class="msg">
                <p>
                    <%= chat.msg%>
                    <form action="/chats/<%= chat.id %>/edit" method="get"><button>Edit</button></form>
                    <form action="/chats/<%= chat.id %>?_method=DELETE" method="post"><button>Delete</button></form>
                </p>
            </div>

            <p>to : <%= chat.to%>
            </p>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>

        </div>
<hr>
        <% } %>
</body>

</html>